*.iml
.DS_Store
.gradle
.gradle-home
.kotlin
.idea/
.idea/caches
.idea/libraries
.idea/modules.xml
.idea/navEditor.xml
.idea/assetWizardSettings.xml
.idea/workspace.xml
.externalNativeBuild
.cxx
**/build/
captures/
local.properties
local.auth.properties
*.apk
*.ap_
rollout-*.jsonl
